html {
    scroll-behavior: smooth;
    }

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    /* font-size: 25px; */
     line-height: 1.6;
     
}

#toTop {
    width:100px;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#a5a2a2;
    font-family: 'Roboto';
    font-size:12px;
    }

*,
*:before,
*:after {
    box-sizing: border-box;
}

 h2, h3, h4, h5, h6{
    margin: 0 0;
}  
.header {
    width: 100%;
    padding-top: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-left: 100px;
}

img {
    vertical-align:top;
}

.name {
    font-size: 30px;
    font-weight: 700;
    letter-spacing:2.5px;
    color: #F1F1F1;
}

 .nav{
    font-size: 20px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;

    color: #F1F1F1;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #a5a2a2;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #a5a2a2;
}

.nav__link:hover:after,
.nav__link.active:after {
     opacity: 0.7;
}

.nav__link.active {
    color: #a5a2a2;
} 


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Cuprum', sans-serif;

    background: url("intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 954px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #F1F1F1;
    font-size: 65px;
    font-weight: 500;
    /* text-transform: uppercase; */
    line-height: 1;
    /* word-break:break-all; */
}

.intro__title:after { 
    width: 60px;
    height: 3px;
    margin: 60px auto 60px;

    background-color: #F1F1F1;
}

/* .rg{
    width: 100%;
    max-width: 550px;
    max-height: 500px;
    margin: 0 auto;
    opacity: .9;

    border-radius: 6px;
    background: #CD2323;
}

.intro__subtitle {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Arsenal', sans-serif;
    font-size: 25px;
    line-height: 40px;
    color: #F1F1F1;
}   */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 35px;
    border-radius: 6px;

    border: 2px solid #F1F1F1;

    font-family: 'Abel', sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: #F1F1F1;
    text-decoration: none;

    transition: color .1s linear;
}

.btn:hover {
    border-color: #a5a2a2;
    color: #a5a2a2;
} 

.btn:after{
    padding-bottom: 40px;
}

/* Section */
.section{
    padding: 30px 0;
    display: flex;
    flex-direction: column;

    justify-content: top;
    width: 100%;
    height: 100vh;
    font-family: 'Cuprum', sans-serif;
}

.section__header {
    margin-bottom: 40px;
}

.section__title {
    color: #000000;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    /* word-break:break-all; */
}

.section__title:after { 

    width: 50px;
    height: 3px;
    margin: 30px auto;

    background-color: #F1F1F1;
}

.section__book{
    display: flex;
    flex-direction: row;    
    /* justify-content: space-around; */
    /* margin: 0 -5px; */

    border: 2px solid #E9E9E9;
    background-color: #E9E9E9; 
    width: 100%;
    max-width: 1000px;
    margin: 0px auto; 
    padding: 20px 20px;
    border-radius: 50px;

}

.section__img{
    text-align: center; 
    border-radius: 10px;
    flex: 1 1 auto;
    margin:  20px; 
}

.section__name{
    flex: 1 1 auto;
    margin: 20px 165px;

    border: 2px solid #000000;
    border-radius: 5px;

    font-family: 'Caveat', cursive;
    color: #000000;
    font-size: 40px;
    font-weight: 200;
    line-height: 1;
    text-align: center;  
}

.section__comment{

    margin: 0 175px;
    font-family: 'Arsenal', sans-serif;
    font-size: 17px;
    line-height: 40px;
    color: #000000;
}

.section__pages {
    display: flex;
    justify-content: space-evenly;
}

.pages__previous {
    display: inline;
    /* vertical-align: top; */
    padding: 8px 40px;
    letter-spacing: 3px;
    border-radius: 50px;
    background: #CD2323;
    opacity: .75;
    color: #F1F1F1;
    text-decoration: none;

    /* transition: color .1s linear; */
}

.pages__previous:after{
    padding-bottom: 40px;
}

.pages__previous:hover{
    opacity: .55;
}

.pages__next {
    display: inline;
    /* vertical-align: top; */
    padding: 8px 40px;
    letter-spacing: 3px;
    border-radius: 50px;
    background: #CD2323;
    opacity: .75;
    color: #F1F1F1;
    text-decoration: none;
   
    /* transition: color .1s linear; */
}
.pages__next:after{
    padding-bottom: 40px;
}

.pages__next:hover{
    opacity: .55;
}


/* Feedback */
.feedback{
    padding: 30px 0;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    font-family: 'Cuprum', sans-serif;

    line-height: 1.6;
    background: #2C2C2C;
}

.feedback__header {
    margin-bottom: 40px;
}

.feedback__title {
    color: #F1F1F1;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    /* word-break:break-all; */
}

.feedback__title:after { 

    width: 50px;
    height: 3px;
    margin: 30px auto;

    background-color: #2C2C2C
}

.feedback__form{
    
    text-align: center; 

    display: flex;
    flex-direction: column;    

    border: 2px solid #323232;
    background-color: #323232; 
    width: 100%;
    max-width: 1000px;
    margin: 0px auto; 
    padding: 10px 20px;
    border-radius: 50px;

}

.form-group label {
    display: block;
    font-size: 20px;
    /* color: #F1F1F1; */
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border:none;
    background: transparent;
    border-bottom: 1px solid #F1F1F1;
    color:#F1F1F1;
    padding: 15px 0 10px;
    outline:none;
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group{
    width: 50%;
}

.row > .form-group:first-child {
    margin-right: 20px;
}

.btn_click {
    margin: 25px;
    display: inline-block;
    vertical-align: center;
    padding: 8px 10px;
    border-radius: 6px;
    
    border: 2px solid #F1F1F1; 
    
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: #F1F1F1; 
    text-decoration: none;
    
    transition: color .1s linear;
}
    
.btn_click:hover {
    border-color: #a5a2a2;
    color: #a5a2a2;
    } 
    
.btn_click:after{
    padding-bottom: 15px;
    }

    textarea {
        resize: none;
      }

.contacts{
    padding: 25px 0;
    display: flex;
    flex-direction: column;

    justify-content: top;
    width: 100%;
    height: 100vh;
    font-family: 'Arsenal', sans-serif;
    

    line-height: 1;
    background: #2C2C2C;   
}

.contacts__title {
    color: #F1F1F1;
    font-size: 20px;
    text-align: center;
    opacity: .75;
}

.contacts__title:after { 

    width: 50px;
    height: 1px;
    margin: 30px auto;

    background-color: #2C2C2C
}

.contacts__url{
    padding: 15px 0;
    text-align: center;  
}